<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shapes.feature"
    >

    <application>
        <activity android:name="shapes.feature.presentation.ShapesEditorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="shapes.feature.presentation.StatisticsActivity"
            android:label="@string/statistics"
            />
    </application>
</manifest>
